.custom-navbar {
    background-color: skyblue;
    z-index: 1050;
  }
 
  .custom-logo {
    max-width: 60px;
    border-radius: 50%;
  }

  .navbar-nav .nav-link {
    color: #fff;
    font-size:20px;
  }
  #search {
    background-color: white; /* Set background to white */
    border-radius: 4px; /* Rounded corners */
    padding: 8px; /* Padding for better spacing */
    font-size: 16px; /* Font size for better readability */
  }
  
  /* Change focus outline color */
  #search:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional shadow */
  }
  
 
  .icon-style {
    padding: 20px;
    color: black;
  }
 
  .icon-style i {
    font-size: 1.2rem;
  }
 
  .custom-search-input {
    border: 1px solid #ced4da;
  }
 
  .custom-search-button {
    background-color: #28a745;
    color: #fff;
  }
 
  .custom-search-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  .custom-width{
    width: 10vw;
  }
  /* Navbar.css */
.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-logo {
    height: 40px; 
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px; 
  }
  
  .custom-search-button {
    margin-left: 5px; 
  }
  
  .icon-style {
    margin-right: 15px; 
  }
  
  .btn-outline-secondary {
    margin-left: 10px; 
  }

  .nav-item .input-group {
    display: flex;
    align-items: center;
  }
  .notifications{
    color:white;
    font-size:20px;
  }
  .sidebar {
    position: fixed;
    top: 68px; /* Adjust this value to ensure it's below the navbar */
    right: -260px; /* Position off-screen initially */
    width: 260px;
    height: calc(100% - 70px); /* Adjust height to fit below the navbar */
    background: linear-gradient(to right, #457b9d, #8ecae6);
    color: #ddd;
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 1000; /* Make sure this is lower than the navbar's z-index */
  }
  
  .sidebar.open {
    right: 0; /* Move into view */
  }
  
  .sidebar-header {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .close-btn {
    background: transparent;
    border: none;
    color: #ddd;
    font-size: 24px; /* Ensure button is large enough */
    cursor: pointer;
  }
  
  .sidebar-header h3 {
    margin: 0;
  }

  
  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    padding: 10px 20px;
    border-bottom: 1px solid #333;
  }
  
  .sidebar-nav li a {
    color: #ddd;
    text-decoration: none;
  }
  
  .sidebar-nav li:hover {
    background: skyblue;
    color: #fff;
  }
  
  .sidebar-nav .dropdown-menu {
    background: #222;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav .dropdown-menu li a {
    padding: 10px 20px;
  }
  