/* Hospital.css */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.custom-card {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px skyblue;
    margin-bottom: 1rem;
  }
  
  .hospital-image ,.custom-card-img{
  

    width: 20rem;
    margin:20px;
  }
 .custom-card-img{
  width: 100%; /* Make image take full width of the container */
  height: 100%; /* Make image take full height of the container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  position: absolute; /* Position image inside the container */
  top: 50%; /* Center image vertically */
  left: 38%; /* Center image horizontally */
  transform: translate(-50%, -50%); /* Adjust positioning */
 }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  .list-hospitals{
    margin-top:5rem;
  }

.custom-card-img-container {
    position: relative;
    height: 200px; 
    overflow: hidden; 
  }
  
  