*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.vital-container{
    margin-top:10%;

}
.overview-image{
    width:400px;
    height:400px;
    border-radius: 50%;
    margin-top:15%;

}
.icon-shape{
    border:2px solid black;
    border-radius:10px;
    padding:10%;
    margin:2%;
    background-color: bisque;
}
.icon-text{
    margin:5%;
    text-align:center;
}
.icon-textment{
    text-align: center;
    
}
.icon{
border-bottom:1px solid black;
}
.fa-heart{
    font-size: 30px;
}
