.custom-accordion-button {
   
    color: black; /* Set text color to black */
    border: none; /* Remove border */
    background-color: white;
  }
 
.custom-accordion-button:focus {
box-shadow: none; /* Remove focus shadow */
background-color: white;
}

.accordion-button.collapsed {
color: black; /* Keep text black when collapsed */
background-color: white;
}

.accordion-item {
margin-bottom: 10px; /* Add margin between accordion items */
}
.faq{
    color: rgb(31, 157, 207);;
}